#main{
    width: 1080px;
    margin: 0 auto;
    padding: 0;
    background: black;

}

body{
    background: black;
}

.col2{
    display: inline-block;
    width: 45%;
    padding: 1% 2%;
    color: white;
}

.col1{
    display: inline-block;
    width: 100%;
    color: white;  
}

.border-form{
    border: 1px solid white ;
    background: white;
    color: black;
}
.box input{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    margin: 0 auto  ;
    display: inline-block;
}


#loader {
    position: fixed; /*relativo ao browser*/
    top: 50%; /* Do topo 50% para centralizar no site */
    left: 50%; /* Da esquerda 50% para centralizar no site */
    margin-left: -175px; /* Metade da largura para centralizar */
    margin-top: -100px; /* Metade da altura para centralizar */
    width: 350px; /* largura */
    height: 200px; /* altura */
    text-align: center; /* alinhamento horizontal */
    vertical-align: middle; /* alinhamneto vertical */
    background: lightgrey; /*fundo */
    border: 2px solid black; /* border */
    font-size: 18px; /* tamanho da letra */
    font-weight: bold; /* negrito */
}

#loader .close{
    position: absolute;
    top:10px;
    right:10px;
}

#loader span{
    display: block;
    margin-top: 50px;
}

#loader p{
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    padding: 0 10px;
}