#menu {
width: 100%;margin:0 ;
}

#menu a {
    display: inline-block;
    width: 23.5%;
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    border: 1px solid black;  
}

#menu a:hover{
    background: greenyellow  ;
}

#submenu a{
    display: inline-block;
    width: 23.5%;
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
}

#submenu a:hover{
    background:green ;
}



.logo img{
    width:250px;

}