#main{
    width: 1080px;
    
}
#menu a {
    display: inline-block;
    width: 20%;
    height: 5%;
    background: green;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 2px;
    border: 2px solid black
}

#main ul li{
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.row1{
    width: 100%
}

.col50{
    width: 50%;
}

.col30{
    width: 30%;
    margin-left: 1650px;
    margin-top: 1000px;

}    

