#main {
    width: 1080px;
    padding: 0;
    margin: 0 auto;
}

.logo {
    width: 100px;
    margin-top: 10px;
}

.col50{
    display: inline-block;
    width: 49%;
}


.col35 {
    display: inline-block;
    width: 100%;
}

.col_left{
    display: inline-block;
    width: 39%;
}

.row2 img{
    width: 500px;
}

.row2 {
    padding-top: 10px;
    width: 60%;
    display: inline-block;
}

#menu li {
    display: inline-block;
    width: 20%;
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

#submenu li {
    display: block;
    width: 40%;
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.col3{
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.col3 img {
    width: 300px;
}


.col70 {
    display: inline-block;
    width: 69%;
}

.col30 {
    display: inline-block;
    width: 29%;
}

